.container {
  max-width: 1240px;
  margin: 25px auto;
  background-color: gray;
  text-align: center;
  padding: 25px;
}
.container h1 {
  color: white;
}
.container p {
  font-size: 26px;
  color: white;
}
