.menu {
  display: flex;
  font-size: 35px;
  justify-content: center;
  gap: 30px;
  padding: 25px;
}
.active {
  color: rgb(8, 231, 8);
}
.myactive {
  color: rgb(45, 185, 250);
}
.myactive-green {
  color: rgb(239, 154, 170);
}
@media (max-width: 700px) {
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
